### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
Test NVM/node_modules/
Javascript/08-Testing/node_modules/
Aplikasi-Login-01-starter-study-case/
Javascript/07-NPM/node_modules/
*node_modules


# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode