/* base  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	font-size: 2.25rem; /* 36px */
	line-height: 3rem; /* 40px */
	font-weight: 700;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.125rem;
	line-height: 2rem;
	font-weight: 700;
}

p {
	font-weight: 500;
}

/* utility */
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.padding-x {
	padding-left: 8%;
	padding-right: 8%;
}

.padding-top-section {
	padding-top: 5rem;
}

.red-color {
	color: #ff0000;
}

.green-color {
	color: #64cf82;
}

/* komponen */
.wrapper-titlenparagraf {
	text-align: center;
	margin-bottom: 3rem;
}

.title-section {
	margin-bottom: 0.5rem;
}

/* ini adalah bagian section info */
.section-info {
	justify-content: space-between;
}

.section-info--content {
	width: 45%;
	justify-content: center;
}

.section-info-img__mobile {
	width: 45%;
	display: none;
}

.section-info-img {
	align-items: center;
	width: 45%;
}

.section-info-title {
	margin-bottom: 1rem;
}

.section-info-paragraf {
	line-height: 1.725rem;
}

/* ini bagian data covid */
.wrapper-covid--data {
	padding: 2rem 2rem 1.5rem;
	box-shadow: 0px 0px 57px -7px rgba(119, 119, 119, 0.12);
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	-moz-border-radius: 0.8rem;
	-ms-border-radius: 0.8rem;
	-o-border-radius: 0.8rem;
}

.wrapper-search {
	justify-content: center;
	margin-bottom: 3rem;
}

#search {
	width: 20rem;
	padding: 0.5rem 1rem;
	border: 1px solid #454f6b;
	outline-offset: 0;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

#btn-search {
	margin-left: 1rem;
	color: #fff;
	padding: 0.5rem 0.8rem;
	background-color: #4b7f81;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.wrapper-list-data {
	flex-wrap: wrap;
	gap: 3rem;
}

.covid-data {
	flex: 1;
	flex-basis: 21%;
	text-align: center;
}

.covid-data--title {
	opacity: 0.8;
}

.covid-data--total {
	margin: 0.8rem 0;
	font-weight: 600;
}

.covid-data--conclusion {
	opacity: 0.8;
	font-size: 0.9rem;
}

.wrapper-country {
	justify-content: center;
	align-items: center;
	margin-top: 2.5rem;
}

.country-img {
	margin-right: 0.5rem;
	height: 1rem;
	border: 0.5px solid #000;
}

/* ini bagian section pencegahan */
.wrapper-card--pencegahan {
	gap: 2rem;
}

.card-pencegahan {
	flex: 1;
	padding: 2rem 1.2rem;
	text-align: center;
	box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
	border-radius: 0.7rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	-ms-border-radius: 0.7rem;
	-o-border-radius: 0.7rem;
}

.card-pencegahan--img img {
	height: 14rem;
	margin: 0 auto;
}

.card-pencegahan--title {
	margin: 1.2rem 0 0.6rem;
}

@media only screen and (max-width: 1025px) {
	h2 {
		font-size: 1.602rem;
	}

	h3 {
		font-size: 1.424rem;
	}

	h4 {
		font-size: 1.266rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	.section-info--content {
		width: 50%;
	}

	.wrapper-card--pencegahan {
		flex-wrap: wrap;
	}

	.card-pencegahan {
		flex-basis: 40%;
	}
}

@media only screen and (max-width: 767px) {
	.section-info {
		padding-top: 3rem;
	}

	.section-info--content {
		width: 100%;
	}

	.section-info-img__mobile {
		display: block;
		margin-bottom: 1.2rem;
		width: 100%;
	}

	.section-info-img {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.card-pencegahan {
		flex-basis: 100%;
	}

	#search {
		width: 80%;
	}

	.wrapper-list-data {
		gap: 2rem;
	}
}
